# Java #
########

*.class

*.jar
*.war
*.ear

# Eclipse  #
############

*.project
*.classpath
*.settings
.externalToolBuilders

# IntelliJ #
############

*.iml
.idea

# maven #
#########
maven-eclipse.xml
target

# Swap #
########

*.swp
